
.container{
 display: flex;
 max-width: 1000px;
 margin: 0 auto;
}

.contact_form{

    display: flex;
    flex-direction: column;
    gap: 24px;
}
.top_btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}
.form_control{
    display: flex;
    flex-direction: column;
    position: relative;

}
.form_control input{
    height: 40px;
    padding: 0 8px;
}
.form_control label{
    position: absolute;
    font-size: 14px;
    top: -12px;
    left: 10px;
    padding: 0 10px;
    background: white;
    
}
.main_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form_control textarea{
padding: 14px;
}

.showinput{
    padding: 10px;
    display: block;
}
.hideinout{
    display: none;
}